<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Trop beau ce site</title>

</head>

<body>

 <!-- Navabar -->

 <header>
     <div class="topnav" id="myTopnav">
       <b> SUPER SITE </b>
       <a href="#home" class="active">Menu</a>
       <a href="#contact">Pas</a>
       <a href="#about">Actif</a>
       <d><img src="https://pbs.twimg.com/profile_images/911159407920246787/HgEFMrMr_400x400.jpg" alt="Avatar" class="avatar_small"></d>
       <c> BenJ </c>
     </div>
 </header>


 <!-- Banner -->
 <div class="banner">
   <h1>TU N'AS PAS DE <br> VACANCES CET ETE</h1>
   <div class="button">
     DOMMAGE
   </div>
 </div>

   <!-- Tab links -->
 <div class="tab">
   <button class="tablinks" onclick="openCity(event, 'London')">London</button>
   <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
   <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
 </div>


 <!-- Flex box -->
 <div class="flex-container">

   <!-- Cards 1-->

   <div class="card-container">
       <div class="card">
           <p class='card_category'>#BeauGoss</p>
           <img src="https://pbs.twimg.com/profile_images/911159407920246787/HgEFMrMr_400x400.jpg" alt="Avatar" class="avatar_large">
           <header class="card__title">
               <h3>Hello World</h3>
           </header>
           <main class="card__description">
               Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
           </main>
           <a href="#" class="button">TOUCH ME</a>
       </div>
   </div>

   <!-- Cards 2-->

   <div class="card-container">
       <div class="card">
           <p class='card_category'>#BeauGoss</p>
           <img src="https://pbs.twimg.com/profile_images/911159407920246787/HgEFMrMr_400x400.jpg" alt="Avatar" class="avatar_large">
           <header class="card__title">
               <h3>Hello World</h3>
           </header>
           <main class="card__description">
               Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
           </main>
           <a href="#" class="button">TOUCH ME</a>
       </div>
   </div>

   <!-- Cards 3-->

   <div class="card-container">
       <div class="card">
           <p class='card_category'>#BeauGoss</p>
           <img src="https://pbs.twimg.com/profile_images/911159407920246787/HgEFMrMr_400x400.jpg" alt="Avatar" class="avatar_large">
           <header class="card__title">
               <h3>Hello World</h3>
           </header>
           <main class="card__description">
               Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
           </main>
           <a href="#" class="button">TOUCH ME</a>
       </div>
   </div>

 </div>

</body>
